@media screen and (max-width: 1440px ) 
    header
        margin-bottom: 100px
        img
            width: 90px
            margin-top: 70px
        .btn
            .btns
                width: 230px
    .main
        .seccion
            .descripcion
                margin: 0 60px
                margin-bottom: 50px
        .snippets
            .compu
                .imag
                    img
                        margin-left: 90px
                        width: 95%
                .text
                    .text2
                        width: 42%
                        margin: 20px 200px 70px 200px
        .clipboard
            .btn
                .btns
                    width: 230px
@media screen and (max-width: 990px) 
    header
        img
            width: 80px
        h1
            font-size: 24px
        p
            margin-left: 10px
            margin-right: 10px
        .btn
            .btns
                width: 210px
    .main
        .seccion
            .titulo
                font-size: 24px
        .snippets
            .compu
                display: flex
                flex-direction: column
                .imag
                    width: 100%
                    text-align: center
                    img
                        width: 50%
                        margin: 0 auto
                .text
                    width: 100%
                    .text2
                        width: 100%
                        display: flex
                        flex-wrap: wrap
                        justify-content: center
                        margin: 30px 0
                        .card2
                            width: 30%
                            margin: 0 15px
        .workflow
            .icon 
                .card
                    width: 29%
                    margin: 20px
            .marcas
                img
                    width: 13%
        .clipboard
            .btn
                .btns
                    width: 210px
    footer
        img 
            margin-top: 40px
            margin-bottom: 50px
        .sociales
            margin-bottom: 60px
            margin-top: 20px 
@media screen and (max-width: 720px)
    header
        .btn
            display: flex
            flex-direction: column
            align-items: center
            .btns
                margin: 10px 0
                width: 170px
                font-size: 14px
    .main
        .clipboard
            .btn
                display: flex
                flex-direction: column
                align-items: center
                .btns
                    margin: 10px 0
                    width: 170px
                    font-size: 14px
    footer
        flex-direction: row
        img
            margin: 20px 5px 20px 5px
            /* -top - right- bottom- left */
        .contacto
            flex-wrap: wrap
            flex-direction: row
            justify-content: center
            a
                margin: 0 10px
        .sociales
            margin: 20px 5px 20px 5px
            a
                margin: 0 5px
@media screen and (max-width: 375px)
    header
        img
            width: 70px
        h1
            font-size: 20px
        p
            font-size: 15px
        .btn
            .btns
                font-size: 13px
                width: 160px
    .main
        .seccion
            .titulo
                font-size: 19px
            .descripcion
                font-size: 15px
        .snippets
            .compu
                .text
                    .text2
                        width: 100%
                        .card2
                            width: 100%
                            h3
                                font-size: 20px
                            p
                                text-align: center
                                font-size: 16px
        .workflow
            .icon
                margin-bottom: 50px
                .card
                    width: 100%
                    margin: 15px 20px
                    img
                        margin-bottom: 20px
    footer
        flex-direction: column
        .contacto
            flex-direction: column
            a
                margin-bottom: 15px
            
