* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  font-family: "Bai Jamjuree", sans-serif;
  background-image: url("../images/bg-header-desktop.png");
  background-size: contain;
  background-repeat: no-repeat; }

header {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 120px; }
  header img {
    width: 98px;
    margin-top: 96px;
    margin-bottom: 52px; }
  header h1 {
    font-size: 28px;
    opacity: 0.7;
    margin-bottom: 18px; }
  header p {
    opacity: 0.4;
    margin-bottom: 35px;
    text-align: center; }
  header .btn .btns {
    padding: 13px;
    cursor: pointer;
    border: none;
    width: 255px;
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    border-radius: 60px 60px 60px 60px; }
    header .btn .btns:hover {
      opacity: 0.7; }
  header .btn .ios {
    background: #26baa4;
    margin-right: 10px;
    box-shadow: 0 3px 0 #22a793; }
  header .btn .mac {
    background: #6173ff;
    margin-left: 10px;
    box-shadow: 0 3px 0 #5767e5; }

.main {
  width: 100%; }
  .main .seccion .titulo {
    opacity: 0.7;
    text-align: center;
    margin-bottom: 15px; }
  .main .seccion .descripcion {
    margin: 0 340px;
    text-align: center;
    opacity: 0.4;
    margin-bottom: 80px;
    /*---- Primera seccion ---- */ }
  .main .snippets .compu {
    display: flex;
    justify-content: space-between; }
    .main .snippets .compu .imag {
      width: 50%;
      text-align: right; }
    .main .snippets .compu .text {
      width: 50%; }
      .main .snippets .compu .text .text2 {
        width: 33%;
        margin: 80px 220px 90px 220px; }
        .main .snippets .compu .text .text2 h3 {
          margin-bottom: 20px;
          text-align: center;
          font-size: 23px;
          opacity: 0.7; }
        .main .snippets .compu .text .text2 p {
          margin-bottom: 30px;
          opacity: 0.4;
          font-size: 18px; }
  .main .access {
    text-align: center;
    margin-bottom: 80px; }
    .main .access img {
      width: 38%;
      filter: drop-shadow(0px 25px 15px rgba(0, 0, 0, 0.4)); }
  .main .workflow {
    margin-bottom: 50px; }
    .main .workflow .icon {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      margin-bottom: 120px; }
      .main .workflow .icon .card {
        width: 13%;
        margin: 0 30px;
        text-align: center; }
        .main .workflow .icon .card img {
          margin-bottom: 30px; }
        .main .workflow .icon .card h3 {
          margin-bottom: 20px;
          opacity: 0.7; }
        .main .workflow .icon .card p {
          opacity: 0.4; }
    .main .workflow .marcas {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap; }
      .main .workflow .marcas img {
        margin: 20px 50px;
        width: 9%; }
  .main .clipboard {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 120px; }
    .main .clipboard img {
      width: 98px;
      margin-top: 96px;
      margin-bottom: 52px; }
    .main .clipboard h1 {
      font-size: 28px;
      opacity: 0.7;
      margin-bottom: 18px; }
    .main .clipboard p {
      opacity: 0.4;
      margin-bottom: 35px; }
    .main .clipboard .btn .btns {
      padding: 13px;
      cursor: pointer;
      border: none;
      width: 255px;
      color: #fff;
      font-size: 15px;
      font-weight: 600;
      border-radius: 60px 60px 60px 60px; }
      .main .clipboard .btn .btns:hover {
        opacity: 0.7; }
    .main .clipboard .btn .ios {
      background: #26baa4;
      margin-right: 10px;
      box-shadow: 0 3px 0 #22a793; }
    .main .clipboard .btn .mac {
      background: #6173ff;
      margin-left: 10px;
      box-shadow: 0 3px 0 #5767e5; }

footer {
  background: #eceef0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  align-items: center; }
  footer img {
    width: 50px;
    margin-top: 50px;
    margin-bottom: 60px; }
  footer .contacto {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px; }
    footer .contacto a {
      display: inline-block;
      text-decoration: none;
      color: #000;
      opacity: 0.7;
      margin-bottom: 30px;
      font-weight: 600; }
      footer .contacto a:hover {
        color: #22a793; }
  footer .sociales {
    margin-bottom: 70px;
    margin-top: 30px; }
    footer .sociales a {
      display: inline-block;
      font-size: 35px;
      margin: 0 10px;
      color: #000;
      opacity: 0.7; }
      footer .sociales a:hover {
        color: #22a793; }

@media screen and (max-width: 1440px) {
  header {
    margin-bottom: 100px; }
    header img {
      width: 90px;
      margin-top: 70px; }
    header .btn .btns {
      width: 230px; }

  .main .seccion .descripcion {
    margin: 0 60px;
    margin-bottom: 50px; }
  .main .snippets .compu .imag img {
    margin-left: 90px;
    width: 95%; }
  .main .snippets .compu .text .text2 {
    width: 42%;
    margin: 20px 200px 70px 200px; }
  .main .clipboard .btn .btns {
    width: 230px; } }
@media screen and (max-width: 990px) {
  header img {
    width: 80px; }
  header h1 {
    font-size: 24px; }
  header p {
    margin-left: 10px;
    margin-right: 10px; }
  header .btn .btns {
    width: 210px; }

  .main .seccion .titulo {
    font-size: 24px; }
  .main .snippets .compu {
    display: flex;
    flex-direction: column; }
    .main .snippets .compu .imag {
      width: 100%;
      text-align: center; }
      .main .snippets .compu .imag img {
        width: 50%;
        margin: 0 auto; }
    .main .snippets .compu .text {
      width: 100%; }
      .main .snippets .compu .text .text2 {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 30px 0; }
        .main .snippets .compu .text .text2 .card2 {
          width: 30%;
          margin: 0 15px; }
  .main .workflow .icon .card {
    width: 29%;
    margin: 20px; }
  .main .workflow .marcas img {
    width: 13%; }
  .main .clipboard .btn .btns {
    width: 210px; }

  footer img {
    margin-top: 40px;
    margin-bottom: 50px; }
  footer .sociales {
    margin-bottom: 60px;
    margin-top: 20px; } }
@media screen and (max-width: 720px) {
  header .btn {
    display: flex;
    flex-direction: column;
    align-items: center; }
    header .btn .btns {
      margin: 10px 0;
      width: 170px;
      font-size: 14px; }

  .main .clipboard .btn {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .main .clipboard .btn .btns {
      margin: 10px 0;
      width: 170px;
      font-size: 14px; }

  footer {
    flex-direction: row; }
    footer img {
      margin: 20px 5px 20px 5px;
      /* -top - right- bottom- left */ }
    footer .contacto {
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: center; }
      footer .contacto a {
        margin: 0 10px; }
    footer .sociales {
      margin: 20px 5px 20px 5px; }
      footer .sociales a {
        margin: 0 5px; } }
@media screen and (max-width: 375px) {
  header img {
    width: 70px; }
  header h1 {
    font-size: 20px; }
  header p {
    font-size: 15px; }
  header .btn .btns {
    font-size: 13px;
    width: 160px; }

  .main .seccion .titulo {
    font-size: 19px; }
  .main .seccion .descripcion {
    font-size: 15px; }
  .main .snippets .compu .text .text2 {
    width: 100%; }
    .main .snippets .compu .text .text2 .card2 {
      width: 100%; }
      .main .snippets .compu .text .text2 .card2 h3 {
        font-size: 20px; }
      .main .snippets .compu .text .text2 .card2 p {
        text-align: center;
        font-size: 16px; }
  .main .workflow .icon {
    margin-bottom: 50px; }
    .main .workflow .icon .card {
      width: 100%;
      margin: 15px 20px; }
      .main .workflow .icon .card img {
        margin-bottom: 20px; }

  footer {
    flex-direction: column; }
    footer .contacto {
      flex-direction: column; }
      footer .contacto a {
        margin-bottom: 15px; } }

/*# sourceMappingURL=styles.css.map */
