* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  font-family: "Bai Jamjuree", sans-serif;
  background-image: url("../images/bg-header-desktop.png");
  background-size: contain;
  background-repeat: no-repeat; }

header {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 120px; }
  header img {
    width: 98px;
    margin-top: 96px;
    margin-bottom: 52px; }
  header h1 {
    font-size: 28px;
    opacity: 0.7;
    margin-bottom: 18px; }
  header p {
    opacity: 0.4;
    margin-bottom: 35px; }
  header .btn .btns {
    padding: 13px;
    cursor: pointer;
    border: none;
    width: 255px;
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    border-radius: 60px 60px 60px 60px; }
    header .btn .btns:hover {
      opacity: 0.7; }
  header .btn .ios {
    background: #26baa4;
    margin-right: 10px;
    box-shadow: 0 3px 0 #22a793; }
  header .btn .mac {
    background: #6173ff;
    margin-left: 10px;
    box-shadow: 0 3px 0 #5767e5; }

.main {
  width: 100%; }
  .main .seccion .titulo {
    opacity: 0.7;
    text-align: center;
    margin-bottom: 15px; }
  .main .seccion .descripcion {
    margin: 0 340px;
    text-align: center;
    opacity: 0.4;
    margin-bottom: 80px;
    /*---- Primera seccion ---- */ }
  .main .snippets .compu {
    display: flex;
    justify-content: space-between; }
  .main .snippets .imag {
    width: 50%;
    text-align: right; }
  .main .snippets .text {
    width: 50%; }
    .main .snippets .text .text2 {
      width: 33%;
      margin: 80px 220px 90px 220px; }
      .main .snippets .text .text2 h3 {
        margin-bottom: 20px;
        text-align: center;
        font-size: 23px;
        opacity: 0.7; }
      .main .snippets .text .text2 p {
        margin-bottom: 30px;
        opacity: 0.4;
        font-size: 18px; }
  .main .access {
    text-align: center;
    margin-bottom: 80px; }
    .main .access img {
      width: 38%;
      filter: drop-shadow(0px 25px 15px rgba(0, 0, 0, 0.4)); }
  .main .workflow {
    margin-bottom: 50px; }
    .main .workflow .icon {
      display: flex;
      justify-content: center;
      margin-bottom: 120px; }
      .main .workflow .icon .card {
        width: 13%;
        margin: 0 30px;
        text-align: center; }
        .main .workflow .icon .card img {
          margin-bottom: 30px; }
        .main .workflow .icon .card h3 {
          margin-bottom: 20px;
          opacity: 0.7; }
        .main .workflow .icon .card p {
          opacity: 0.4; }
    .main .workflow .marcas {
      display: flex;
      align-items: center;
      justify-content: center; }
      .main .workflow .marcas img {
        margin: 0 50px;
        width: 9%; }
  .main .clipboard {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 120px; }
    .main .clipboard img {
      width: 98px;
      margin-top: 96px;
      margin-bottom: 52px; }
    .main .clipboard h1 {
      font-size: 28px;
      opacity: 0.7;
      margin-bottom: 18px; }
    .main .clipboard p {
      opacity: 0.4;
      margin-bottom: 35px; }
    .main .clipboard .btn .btns {
      padding: 13px;
      cursor: pointer;
      border: none;
      width: 255px;
      color: #fff;
      font-size: 15px;
      font-weight: 600;
      border-radius: 60px 60px 60px 60px; }
      .main .clipboard .btn .btns:hover {
        opacity: 0.7; }
    .main .clipboard .btn .ios {
      background: #26baa4;
      margin-right: 10px;
      box-shadow: 0 3px 0 #22a793; }
    .main .clipboard .btn .mac {
      background: #6173ff;
      margin-left: 10px;
      box-shadow: 0 3px 0 #5767e5; }

footer {
  background: #eceef0;
  display: flex;
  flex-direction: column;
  align-items: center; }
  footer img {
    width: 50px;
    margin-top: 50px;
    margin-bottom: 60px; }
  footer a {
    display: inline-block;
    text-decoration: none;
    color: #000;
    opacity: 0.7;
    margin-bottom: 30px;
    font-weight: 600; }
    footer a:hover {
      color: #22a793; }
  footer .sociales {
    margin-bottom: 70px;
    margin-top: 30px; }
    footer .sociales a {
      display: inline-block;
      font-size: 35px;
      margin: 0 10px; }

@media screen and (max-width: 1366px) {
  header {
    margin-bottom: 100px; }
    header img {
      width: 90px;
      margin-top: 70px; }
    header .btn .btns {
      width: 230px; }

  .main .seccion .descripcion {
    margin: 0 60px;
    margin-bottom: 50px; }
  .main .snippets .compu .imag img {
    margin-left: 90px;
    width: 95%; }
  .main .snippets .text .text2 {
    width: 35%;
    margin: 10px 200px 90px 200px; }
    .main .snippets .text .text2 h3 {
      font-size: 21px; }
    .main .snippets .text .text2 p {
      font-size: 17px; }
  .main .clipboard .btn .btns {
    width: 230px; } }

/*# sourceMappingURL=styles.css.map */
